.body{
    background-color:black;
    }
    .movie-media{
    margin-top:13%;
    border:1px solid;
    }
    .image-img{
        width:100%;
    }
    img{
        width: 27%;
        margin-left: 35%;
        margin-top: 2%;
    }
    .recent{
        position: absolute;
        font-size: 200%;
        margin-top: 8%;
        margin-left: -97%;
        font-weight: bold;
    }
    .span1{
    
        position: absolute;
        margin-left: -17%;
        font-weight: bold;
        font-size: 21px;
        font-family: Arial, Helvetica, sans-serif;
        color:whitesmoke;
        opacity: 0.8;
    }
    .movie-props{
        margin-left: 7%;
    }
    p{
        margin-left: 26%;
        font-size: 125%;
        font-style: italic;
        color:whitesmoke;
        opacity: 0.4;
    }
label{
    margin-left: 41%;
    /* width: 18%; */
    /* height: 14%; */
    font-size: 197%;
    margin-top: 3%;
    line-height: 67px;

}
.error-messages{
    margin-top: 1%;
    font-size: 146%;
    font-weight: bold;
    color: red;
}
/*.dropdown{
    position: absolute;
    width: 100%;
    height: 400%;
    z-index: 1;
    margin-top: 2.8%;
    background-color: whitesmoke;
    overflow-y: auto;
}*/
dropdown-button{
    margin:10%;
}
.drop{
    margin-top: 0%;
    position: absolute;
    top: 400%;
    background: black;
    border-spacing: 35%;
    /* padding-left: 0%; */
    outline-width: 38%;
}
.sub-dropdown
{
    padding:10px;
    font-family: sans-serif;
    color:#A550BC;
}
.sub-dropdown:hover{
background: #C2C2C2;
}